@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:recipient"]{
	font-style: italic;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

.inscription{
	font-variant: small-caps;
	text-align: center;
}

.memorial{
	font-style: italic;
	text-align: center;
}

.telegram{
	font-style: all-small-caps;
}
